[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord.py = "==1.6.0"
discord-py-slash-command = "==1.0.9.5"
Pillow = "==8.1.2"

[dev-packages]

[requires]
python_version = "3.9"
